<mat-stepper>
    <mat-step>
        <div class="onboarding-hero">
            <mat-icon class="onboarding-hero__icon">translate</mat-icon>
        </div>
        <h2 class="onboarding-title">Select your language</h2>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Language</mat-label>
                <mat-select [value]="activeLanguage$ | async" (valueChange)="onLanguageChange($event)">
                    <mat-option *ngFor="let data of languages$ | async"
                                [value]="data.id">{{ data.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="onboarding__buttons">
                <button mat-flat-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <div class="onboarding-hero">
            <mat-icon class="onboarding-hero__icon">format_list_numbered</mat-icon>
        </div>
        <h2 class="onboarding-title">Set how many questions you want to answer at once</h2>
        <form #countForm="ngForm">
            <mat-form-field appearance="outline">
                <mat-label>Count</mat-label>
                <input
                    required
                    matInput
                    name="questionCountInput"
                    #questionCountInputModel="ngModel"
                    [ngModel]="questionCountString$ | async"
                    type="number"
                    #questionCountInput
                />
            </mat-form-field>
            <div class="onboarding__buttons">
                <button mat-button matStepperPrevious class="onboarding-button__back">Back</button>
                <button mat-flat-button color="primary" matStepperNext [disabled]="countForm.invalid" (click)="
                            onQuestionCountSubmit(questionCountInput.value)
                        ">Next
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <div class="onboarding-hero">
            <mat-icon class="onboarding-hero__icon">task_alt</mat-icon>
        </div>
        <h2 class="onboarding-title">Everything set</h2>
        <p class="onboarding__desc">These settings can be changed at any time through the app settings.</p>
        <div class="onboarding__buttons">
            <button mat-button matStepperPrevious class="onboarding-button__back">Back</button>
            <button mat-flat-button color="primary" (click)="closeDialog()">Finish</button>
        </div>
    </mat-step>
</mat-stepper>
