/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; overflow-x: hidden }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// Custom scrollbar styling
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #282829;
}

body::-webkit-scrollbar-thumb {
    background-color: #7c7c7d;
    border-radius: 20px;
    border: 3px solid #282829;
}
