@use '~@angular/material' as mat;
@include mat.core();

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-warn: mat.define-palette(mat.$red-palette);
$dark-theme: mat.define-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn
    )
));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);
