mat-list {
    min-width: 400px;
}

.content {
    margin: 0 16px;
}

.level-list {
    padding-top: 0;
}

.question-count-form {
    display: flex;
    justify-content: space-between;
}

.question-count__save-btn {
    display: flex;
    align-self: center;
}
