mat-list {
    min-width: 400px;
}

.content {
    margin: 0 16px;
}

.level-list {
    padding-top: 0;
}

.question-count-form {
    display: flex;
    justify-content: space-between;
}

.question-count__save-btn {
    display: flex;
    align-self: center;
}

.level-accordion {

    ::ng-deep .mat-expansion-panel-body {
        max-height: 300px;
        overflow-y: auto;
    }

    mat-panel-description {
        justify-content: end;

    }

    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 12px;

        li {
            margin: 6px 0;
        }
    }

}

::ng-deep .level-accordion .mat-content {
    // Show overflow, otherwise the checkbox ripple will be clipped.
    overflow: visible;
}
